#header {
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-blue;
    height: 60px;
    padding: 0;
    text-align: center;
    li {
      span,
      i {
        display: inline-block;
        letter-spacing: 0.05em;
      }
      span{
        margin-right: 10px;
      }
      line-height: 60px;
      display: block;
      border-right: 1px solid $color-white-0;
      height: 60px;
      position: relative;
    }
    .navbar-left {
      width: 80%;
      display: flex;
      list-style: none;
      margin: 0;

      li {
        span,
        i {
          text-transform: uppercase;
          @include text($color-white-0, $fs-0, $fw-bold-0);
        }
        i.fa-angle-up{
          display: none;
        }
      }
      .logo_brand {
        width: 10%;
        .navbar-brand {
          margin: 0;
          padding: 0;
          width: 50px;
          height: 60px;
        }
        svg {
          fill: $color-white-0;
        }
      }
      .vehicles-list {
        width: 20%;
        color: $color-white-0;
      }
      .shopping-tools-list {
        width: 30%;
      }
    }
    .navbar-right {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      padding-left: 40%;
      li {
        span,
        i {
          text-align: center;
          @include text($color-white-0, $fs-1 + 1 , $fw-bold-0);
        }
        width: 20%;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5) {
          border-right: none;
        }
        &:nth-child(5) {
           i{
            padding-right: 50%;
            @include text($color-white-0, $fs-2 , $fw-normal);
           }
        }
      }
    }
  }
}
  