@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}
@mixin button(
  $color,
  $fs,
  $bg-color,
  $pd-top-bottom,
  $pd-right-left,
  $border-color,
  $color-hover,
  $bg-color-hover,
  $border-color-hover
) {
  color: $color;
  font-size: $fs;
  background-color: $bg-color;
  padding: $pd-top-bottom $pd-right-left;
  border: 1px solid $border-color;
  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
    border: 1px solid $border-color-hover;
  }
}
@mixin mediaQuery($screen) {
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "`#{$screen}` no existing";
  }
}
@mixin search($bg-color, $fs-placeholder, $bg-color-focus, $border-color-focus) {
  .input-group {
    transition: none;
    background-color: $bg-color;
    box-shadow: none;
    .form-control {
      background-color: transparent;
      border-color: transparent;
      &:focus {
        background-color: $bg-color-focus;
        box-shadow: none;
        border: 1px solid $border-color-focus;
        border-right: none;
      }
      &:focus + .input-group-prepend {
        .input-group-text {
          background-color: $bg-color-focus;
          border: 1px solid $border-color-focus;
          border-left: none;
        }
      }
    }
    .input-group-prepend {
      .input-group-text {
        background-color: transparent;
        border-color: transparent;
        color: $color-red-0;
        &:hover {
          color: $color-white-0;
          background-color: $color-red-0;
        }
      }
    }
  }
}

@mixin coursesOverlay() {
  .carousel-inner {
    .carousel-item {
      .card-deck {
        .card {
          .img-top {
            position: relative;
            height: 40%;
            img {
              width: 100%;
              height: 100%;
            }
            .img-overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              width: 0;
              height: 0;
              background-color: rgba(0, 0, 0, 0);
            }
          }
          &:hover .img-overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.37);
          }
          &:hover .card-body {
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 1px rgba(20, 23, 28, 0.1);
          }
        }
      }
    }
  }
}
@mixin HoverShadow() {
  .hoverShadow:hover {
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
  }
}
